<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <clear/>
      <add name="Kudos" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Initial Catalog=Chances;Data Source=.;Integrated Security=SSPI"/>
    </connectionStrings>
    <appSettings>
      <add key="TemplateAllProductsHeader" value="sku,_type,_attribute_set,_category,_root_category,_product_websites,name,description,short_description,price,image,small_image,thumbnail,status,visibility,tax_class_id,product_barcode_,qty,is_in_stock,_media_attribute_id,_media_image,_media_is_disabled,size,color,style,branches,sizetm,brand"/>
      <add key="TemplateAllProductsLine" value=",simple,Default,All,Default Category,base,,,,,,,,1,1,0,,,,88,,0,,,,,,"/>
      <add key="FtpFolderPathCsv" value="C:\KudosExport\remote\"/>
      <add key="FtpFolderPathImg" value="C:\KudosExport\remote\images"/>
      <add key="ImgIdx" value="C:\KudosExport\image-index.txt"/>
      <add key="DataIdx" value="C:\KudosExport\data-index.txt"/>
      <add key="WelcomeMsg" value="Exporting product data from Counter Intelligence. See app config for paths and settings. It may take a few mins ..."/>
    </appSettings>
</configuration>
