<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear/>
    <add name="DBSource" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Initial Catalog=rm-multistore;Data Source=.;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="DBFieldNames" value="product_id,barcode,shortdesc,longdesc,cat1,cat2,cat3,custom1,allow_fractions,quantity,price,branches"/>
    <add key="DBSKU" value="product_id"/>
    <add key="CutoffDate" value="2015-11-01T00:00:00"/>

    <add key="FtpFolderPathCsv" value="C:\mvExport\remote\csv"/>
    <add key="DataIdx" value="C:\mvExport\data-index.txt"/>
  </appSettings>
</configuration>

<!-- == Config file documentation ==

* DBFieldNames - a list of field names as they are extracted from the DB. The order is unimportant. Case sensistive.

* DBSKU - the primary key of the record, used for hashing, must be an integer

* CutoffDate - An SQL datetime value for products created / updated before the cutoff date with the current quantity zero. Those products are probably gone forever. Leave blank to get all products.

* FtpFolderPathCsv - abslute path to the folder for the CSV export

* DataIdx - absolute file name with the data cache/hashes of the previous export for a diff.

-->
