<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <clear/>
      <add name="Kudos" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Initial Catalog=Counter Intelligence Office Lite;Data Source=.;Integrated Security=SSPI"/>
    </connectionStrings>
    <appSettings>
      <add key="TemplateAllProductsHeader" value="sku,name,description,short_description,price,image,product_barcode_,qty,size,color,style,branches,sizetm,brand,stockgroup,colorid"/>
      <add key="TemplateAllProductsLine" value=",,,,,,,,,,,,,,,"/>
      <add key="FtpFolderPathCsv" value="C:\mVentory\KudosExport\remote\csv"/>
      <add key="FtpFolderPathImg" value="C:\mVentory\KudosExport\remote\images"/>
      <add key="ImgIdx" value="C:\mVentory\KudosExport\image-index.txt"/>
      <add key="DataIdx" value="C:\mVentory\KudosExport\data-index.txt"/>
      <add key="WelcomeMsg" value="Exporting product data from Counter Intelligence. See app config for paths and settings. It may take a few mins ..."/>
    </appSettings>
</configuration>
